*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.rdb
*.json
.DS_Store
.vscode

.idea/
.vscode/
bin/

/dmsg-discovery
/dmsg-server
/dmsgpty-cli
/dmsgpty-host
/dmsgpty-ui

/hello.txt
/integration/integration-pids.csv

/dist

/musl-data
releaseChangelog.md
goreleaser.zip
/goreleaser
