on: [push, pull_request]
name: Test
jobs:
  test-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19.x
      - uses: actions/checkout@v3
      - name: Install Requirements
        run: |
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.50.1
          go mod vendor
      - name: Checking Format and Testing
        run: make check
      - name: Build
        run: make build
  
  test-mac:
    runs-on: macos-latest
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19.x
      - uses: actions/checkout@v3
      - name: Install Requirements
        run: |
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.50.1
          go mod vendor
      - name: Checking Format and Testing
        run: make check
      - name: Build
        run: make build
  
  test-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19.x
      - uses: actions/checkout@v3
      - name: Install Requirements
        run: |
          choco install make
          go install github.com/golangci/golangci-lint/cmd/golangci-lint@v1.50.1
          go mod vendor
      - name: Testing
        run:  |
          set GO111MODULE=on
          make test-windows
      - name: Build
        run: make build-windows